*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    text-align:center;
    margin: 5% 0;
    text-transform: uppercase;
}

nav{
    background-color: black;
    color:white;
}

nav ul{
    height: 10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

main{
    margin: 5%;
}

section {
    padding: 2%;
}