*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(145, 68, 246);
}

h1{
    text-align:center;
    margin: 5% 0;
    text-transform: uppercase;
}

nav{
    background-color: rgb(92, 231, 152);
    color:rgb(145, 68, 246);
}

nav ul{
    height: 10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}